/*===== color =====*/

/*font*/
$FONTW : #fff;
$FONTB : #21a9de;
$FONTGA : #9d9ca3;
$FONTGR : #3cf7f7;
$FONTO : #dee0e3;
$SPR : "../images/spr.png";
$HEADERS : "../images/header.png";
$TREES : "../images/tree_spr.png";
$VIDEOS : "../images/video_spr.png";